.table {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
}

.td {
  border: 1px solid #000;
  padding: 10px;
}

.title-homepage {
  color: blue;
}

.card {
  padding: 16px;
  box-shadow: 6px 3px 13px 1px rgb(0 0 0 /35%);
  width: 300px;
  border-radius: 12px;
  margin: 12px;
  display: inline-block;
}
